{% comment %}
  Ajaxify your cart with this plugin. Adding a product will reveal a drawer, modal, or confirmation button.
  Enabled by default in theme settings.

  Ajaxify Cart Documentation:
    - http://shopify.com/timber#ajax-cart
{% endcomment %}

{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajaxify cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
{% raw %}
  <script id="cartTemplate" type="text/template">
    <button class="ajaxifyCart--close" title="Close Cart">Close Cart</button>
    <form action="/cart" method="post" novalidate>
      <div class="ajaxifyCart--products">
        {{#items}}
        <div class="ajaxifyCart--product">
          <div class="ajaxifyCart--row" data-id="{{id}}">
            <div class="grid">
              <div class="grid-item large--two-thirds">
                <div class="grid">
                  <div class="grid-item one-quarter">
                    <a href="{{url}}" class="ajaxCart--product-image"><img src="{{img}}" alt=""></a>
                  </div>
                  <div class="grid-item three-quarters">
                    <a href="{{url}}" class="h4">{{name}}</a>
                    <p>{{variation}}</p>
                  </div>
                </div>
              </div>
              <div class="grid-item large--one-third">
                <div class="grid">
                  <div class="grid-item one-third">
                    <div class="ajaxifyCart--qty">
                      <input type="text" class="ajaxifyCart--num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
                      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-id="{{id}}" data-qty="{{itemAdd}}">+</span>
                      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-id="{{id}}" data-qty="{{itemMinus}}">-</span>
                    </div>
                  </div>
                  <div class="grid-item one-third text-center">
                    <p>{{price}}</p>
                  </div>
                  <div class="grid-item one-third text-right">
                    <p>
                      <small><a href="/cart/change?id={{id}}&amp;quantity=0" class="ajaxifyCart--remove" data-id="{{id}}">Remove</a></small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/items}}
      </div>
      <div class="ajaxifyCart--row text-right medium-down--text-center">
        <span class="h3">Subtotal {{totalPrice}}</span>
        <input type="submit" class="{{btnClass}}" name="checkout" value="Checkout">
      </div>
    </form>
  </script>

  <script id="drawerTemplate" type="text/template">
    <div id="ajaxifyDrawer">
      <div id="ajaxifyCart" class="ajaxifyCart--content {{wrapperClass}}"></div>
    </div>
    <div class="ajaxifyDrawer-caret"><span></span></div>
  </script>

  <script id="modalTemplate" type="text/template">
    <div id="ajaxifyModal">
      <div id="ajaxifyCart" class="ajaxifyCart--content"></div>
    </div>
  </script>

  <script id="ajaxifyQty" type="text/template">
    <div class="ajaxifyCart--qty">
      <input type="text" class="ajaxifyCart--num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-id="{{id}}" data-qty="{{itemAdd}}">+</span>
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-id="{{id}}" data-qty="{{itemMinus}}">-</span>
    </div>
  </script>

  <script id="jsQty" type="text/template">
    <div class="js-qty">
      <input type="text" class="js--num" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <span class="js--qty-adjuster js--add" data-id="{{id}}" data-qty="{{itemAdd}}">+</span>
      <span class="js--qty-adjuster js--minus" data-id="{{id}}" data-qty="{{itemMinus}}">-</span>
    </div>
  </script>
{% endraw %}

{{ 'handlebars.min.js' | asset_url | script_tag }}
{{ 'ajaxify.js' | asset_url | script_tag }}
<script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: 'drawer', // Method options are drawer, modal, and flip. Default is drawer.
      wrapperClass: 'wrapper', // The class that defines your site width. Default is null.
      formSelector: '#addToCartForm', // Default is form[action^="/cart/add"].
      addToCartSelector: '#addToCart', // Default is input[type="submit"] within 'formSelector'.
      cartCountSelector: '#cartCount', // Update number of items in the cart when a product is added. Default is null.
      cartCostSelector: '#cartCost', // Update the total cart cost when a product is added. Default is null.
      toggleCartButton: '#cartToggle', // To toggle drawer/modal cart, include the selector here. Default is null and will take you to /cart page.
      useCartTemplate: true, // True to use cart.liquid markup. False to use handlebars.js for template. Default is true.
      btnClass: 'btn', // Your main button class for styling purposes if useCartTemplate is set to false. Default is null.
      moneyFormat: {{ shop.money_format | json }}, // Your shop money format, defined in liquid.
      disableAjaxCart: false, // If for some reason you want to disable the cart, set to true. Default is false.
      enableQtySelectors: true, // Enable the quantity selectors on your templates, even if disableAjaxCart is false. Default is true.
      prependDrawerTo: 'body' // The element selector where the cart is prepended. This is used for the drawer and flip methods. Default is 'body'.
    });
  });
</script>
